{% load document %}
{% load widgettag_tags %}
{% load datatypes %}

{% with STATIC_URL|aadd:"cliqueclique_ui/css/display_document.css" as url %}{% widget_addcssfile url %}{% endwith %}

{% with STATIC_URL|aadd:"fcdjangoutils/js/jquery.js" as url %}{% widget_addjsfile url %}{% endwith %}

{% with STATIC_URL|aadd:"fcdjangoutils/css/expand.css" as url %}{% widget_addcssfile url %}{% endwith %}
{% with STATIC_URL|aadd:"fcdjangoutils/js/expand.js" as url %}{% widget_addjsfile url %}{% endwith %}

<div class="action_icons">
  <a href="{% url cliqueclique_ui_document.views.document_as_json document_id=document_id %}">
    <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_companion/icons/share.png" alt="Export">
  </a>
  <a href="{% url cliqueclique_ui_document.views.document_as_mime document_id=document_id %}">
    <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_companion/icons/disk_black.png" alt="Export">
  </a>

  <a href="{% url cliqueclique_ui_document.views.set_document_flags document_id=document_id %}?local_is_subscribed=toggle">
    {% if document_subscription.local_is_subscribed %}
      <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_icons/icons/comments_add.png" alt="Subscribing to new comments">
    {% else %}
      <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_icons/icons/comments.png" alt="Not subscribing to new comments">
    {% endif %}
  </a>

  <a href="{% url cliqueclique_ui_document.views.set_document_flags document_id=document_id %}?read=toggle">
    {% if document_subscription.read %}
      <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_icons/icons/eye.png" alt="Read">
    {% else %}
      <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_icons/icons/new.png" alt="Not previously read">
    {% endif %}
  </a>

  <a href="{% url cliqueclique_ui_document.views.set_document_flags document_id=document_id %}?bookmarked=toggle">
    {% if document_subscription.bookmarked %}
      <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_companion/icons/star_gold.png" alt="Bookmarked">
    {% else %}
      <img src="{{ STATIC_URL }}cliqueclique_ui/img/silk_companion/icons/star_silver.png" alt="Not bookmarked">
    {% endif %}
  </a>
</div>

ID: {{ document_id|formatid }}<br>
Subject: {{ document.subject }}<br>
{% if document_signature %}
  Sender: {{ document_signature|formatid }}<br>
  Sender name: {{ document_signature_name }}<br>
  Sender address: {{ document_signature_address }}<br>
{% endif %}
Is a comment to:
{% for parent in document_subscription.parents.all %}
  <a href="{% url cliqueclique_ui.views.display_document document_id=parent.document.document_id %}">{{ parent.document.content_as_mime.subject}}</a>
{% endfor %}
<br>
Comments in:
{% for child in document_subscription.children.all %}
  <a href="{% url cliqueclique_ui.views.display_document document_id=child.document.document_id %}">{{ child.document.content_as_mime.subject}}</a>
{% endfor %}

<div class="document_body">
  {{ document_body }}
</div>

<form method="POST" action="{% url cliqueclique_ui.views.post_document %}">
  {% csrf_token %}
  <input type="hidden" name="parent_document_id" value="{{ document_id }}">
  <input type="text" name="subject"><br>
  <textarea name="body"></textarea><br>
  <input type="submit" name="post" value="Post">
</form>

<div class="document_subscription_details">
  <div class="autohide-button" id="document_subscription_details_{{ document_id }}-button">Subscription detalils</div>
  <div class="autohide-body" id="document_subscription_details_{{ document_id }}-body">
    <table>
      <tr><td>Wanters:</td><td>{{ document_subscription.wanters }}</td></tr>
      <tr><td>Subscribers:</td><td>{{ document_subscription.subscribers }}</td></tr>
      <tr><td>Peers:</td><td>{{ document_subscription.peer_nrs }}</td></tr>
      <tr><td>Has enought peers:</td><td>{{ document_subscription.has_enought_peers }}</td></tr>
      <tr><td>Is wanted:</td><td>{{ document_subscription.is_wanted }}</td></tr>
      <tr><td>Is subscribed:</td><td>{{ document_subscription.is_subscribed }}</td></tr>
      <tr><td>Serial:</td><td>{{ document_subscription.serial }}</td></tr>
      <tr><td>Center node ID:</td><td>{{ document_subscription.center_node_id|formatid }}</td></tr>
      <tr><td>Center distance:</td><td>{{ document_subscription.center_distance }}</td></tr>
      <tr><td>Center node is subscribed:</td><td>{{ document_subscription.center_node_is_subscribed }}</td></tr>

      {% for peer_subscription in document_subscription.peer_subscriptions.all %}
	<tbody>
	  <tr><th>Peer:</th><th>{{ peer_subscription.peer.node_id|formatid}}</th></tr>
	  <tr><td>Local serial:</td><td>{{ peer_subscription.local_serial }}</td></tr>
	  <tr><td>Peer send:</td><td>{{ peer_subscription.peer_send }}</td></tr>
	  <tr><td>Serial:</td><td>{{ peer_subscription.serial }}</td></tr>
	  <tr><td>Has enought peers:</td><td>{{ peer_subscription.has_enought_peers }}</td></tr>
	  <tr><td>Is wanted:</td><td>{{ peer_subscription.is_wanted }}</td></tr>
	  <tr><td>Is subscribed:</td><td>{{ peer_subscription.is_subscribed }}</td></tr>
	  <tr><td>Center node ID:</td><td>{{ peer_subscription.center_node_id|formatid }}</td></tr>
	  <tr><td>Center distance:</td><td>{{ peer_subscription.center_distance }}</td></tr>
	  <tr><td>Center node is subscribed:</td><td>{{ peer_subscription.center_node_is_subscribed }}</td></tr>
	</tbody>
      {% endfor %}
    </table>
  </div>
</div>
