{% load document %}
{% load widgettag_tags %}
{% load datatypes %}

{% with STATIC_URL|aadd:"cliqueclique_ui_displaydocument/css/display_document.css" as url %}{% widget_addcssfile url %}{% endwith %}

{% with STATIC_URL|aadd:"fcdjangoutils/js/jquery.js" as url %}{% widget_addjsfile url %}{% endwith %}

{% with STATIC_URL|aadd:"fcdjangoutils/css/expand.css" as url %}{% widget_addcssfile url %}{% endwith %}
{% with STATIC_URL|aadd:"fcdjangoutils/js/expand.js" as url %}{% widget_addjsfile url %}{% endwith %}

<div class="action_icons">
  <a href="{% url cliqueclique_ui_displaydocument.views.download_document document_id=document_id %}">
    <img src="{{ STATIC_URL }}cliqueclique_ui_displaydocument/img/silk_companion/icons/disk_black.png" alt="Export">
  </a>

  <a href="{% url cliqueclique_ui_displaydocument.views.set_document_flags document_id=document_id %}?local_is_subscribed=toggle">
    {% if document_subscription.local_is_subscribed %}
      <img src="{{ STATIC_URL }}cliqueclique_ui_displaydocument/img/silk_icons/icons/comments_add.png" alt="Subscribing to new comments">
    {% else %}
      <img src="{{ STATIC_URL }}cliqueclique_ui_displaydocument/img/silk_icons/icons/comments.png" alt="Not subscribing to new comments">
    {% endif %}
  </a>

  <a href="{% url cliqueclique_ui_displaydocument.views.set_document_flags document_id=document_id %}?read=toggle">
    {% if document_subscription.read %}
      <img src="{{ STATIC_URL }}cliqueclique_ui_displaydocument/img/silk_icons/icons/eye.png" alt="Read">
    {% else %}
      <img src="{{ STATIC_URL }}cliqueclique_ui_displaydocument/img/silk_icons/icons/new.png" alt="Not previously read">
    {% endif %}
  </a>

  <a href="{% url cliqueclique_ui_displaydocument.views.set_document_flags document_id=document_id %}?bookmarked=toggle">
    {% if document_subscription.bookmarked %}
      <img src="{{ STATIC_URL }}cliqueclique_ui_displaydocument/img/silk_companion/icons/star_gold.png" alt="Bookmarked">
    {% else %}
      <img src="{{ STATIC_URL }}cliqueclique_ui_displaydocument/img/silk_companion/icons/star_silver.png" alt="Not bookmarked">
    {% endif %}
  </a>
</div>

ID: {{ document_id|formatid }}<br>
Subject: {{ document.subject }}<br>
{% if document_signature %}
  Sender: {{ document_signature|formatid }}<br>
  Sender name: {{ document_signature_name }}<br>
  Sender address: {{ document_signature_address }}<br>
{% endif %}
Is a comment to:
{% for parent in document_subscription.parents.all %}
  <a href="{% url cliqueclique_ui_displaydocument.views.display_document document_id=parent.document.document_id %}">{{ parent.document.content_as_mime.subject}}</a>
{% endfor %}
<br>
Comments in:
{% for child in document_subscription.children.all %}
  <a href="{% url cliqueclique_ui_displaydocument.views.display_document document_id=child.document.document_id %}">{{ child.document.content_as_mime.subject}}</a>
{% endfor %}

<div class="document_body">
  {{ document_body }}
</div>

<form method="POST" action="{% url cliqueclique_ui_displaydocument.views.post_document %}">
  {% csrf_token %}
  <input type="hidden" name="parent_document_id" value="{{ document_id }}">
  <input type="text" name="subject"><br>
  <textarea name="body"></textarea><br>
  <input type="submit" name="post" value="Post">
</form>

<div class="document_subscription_details">
  <div class="autohide-button" id="document_subscription_details_{{ document_id }}-button">Subscription detalils</div>
  <div class="autohide-body" id="document_subscription_details_{{ document_id }}-body">
    Wanters: {{ document_subscription.wanters }}<br>
    Subscribers: {{ document_subscription.subscribers }}<br>
    Is wanted {{ document_subscription.is_wanted }}<br>
    Is subscribed {{ document_subscription.is_subscribed }}<br>

    Serial: {{ document_subscription.serial }}<br>
    Center node ID: {{ document_subscription.center_node_id|formatid }}<br>
    Center distance: {{ document_subscription.center_distance }}<br>
    Center node is subscribed: {{ document_subscription.center_node_is_subscribed }}<br>

    {% for peer_subscription in document_subscription.peer_subscriptions.all %}
      <div class="peer_subscription">
	Peer: {{ peer_subscription.peer.node_id|formatid}}<br>
        Local serial: {{ peer_subscription.local_serial }}<br>
	Peer send: {{ peer_subscription.peer_send }}<br>
	Serial: {{ peer_subscription.serial }}<br>
	Is wanted {{ peer_subscription.is_wanted }}<br>
	Is subscribed: {{ peer_subscription.is_subscribed }}<br>
	Center node ID: {{ peer_subscription.center_node_id|formatid }}<br>
	Center distance: {{ peer_subscription.center_distance }}<br>
	Center node is subscribed: {{ peer_subscription.center_node_is_subscribed }}<br>
      </div>
    {% endfor %}
  </div>
</div>
