{% load document %}

<div class="bookmarks">
  <h1>Bookmarks</h1>
  {% for bookmark in bookmarks %}
    <a href="{% url cliqueclique_displaydocument.views.display_document document_id=bookmark.document.document_id %}">{{ bookmark.document.as_mime.subject}}</a>
  {% endfor %}
</div>

{% if document_id %}
  {% display_document document_id %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  Import: <input type="file" name="file"><input type="submit" name="import" value="Import">
</form>
