{% load document %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CliqueClique</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}cliqueclique_ui/css/global.css" />
    %WidgetTagMiddleware.head.css%
    %WidgetTagMiddleware.head.javascript%
    <script src="{{ STATIC_URL }}fcdjangoutils/js/obj.js"></script>
    <script src="{{ STATIC_URL }}cliqueclique_ui/js/jsTree/jquery.jstree.js"></script>
    <script src="{{ STATIC_URL }}cliqueclique_ui/js/document.js"></script>
    <script src="{{ STATIC_URL }}cliqueclique_ui/js/document_tree.js"></script>
    <!-- script>
      security_context = {{ security_context|safe }};
    </script -->
  </head>
  <body>
    <div class="menubar">
      Username: {{ request.user.username }}<br>
      Node ID: {{ request.user.node.node_id|formatid }}<br>
      <a href="{% url django.contrib.auth.views.logout %}">Log out</a>
      <form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	Import: <input type="file" name="file"><input type="submit" name="import" value="Import">
      </form>
      <div class="bookmarks">
	{% block bookmarks %}
	  <h1>Bookmarks</h1>

	  <div id="bookmarktree"></div>
	  <script>
	    $(function () {
	      $("#bookmarktree").documentTree({originalQuery: '"bookmarked"'});
	    });
	  </script>
	{% endblock %}
      </div>

    </div>
    <div class="document_area">
      {% if document_id %}
        {% display_document document_id %}
      {% endif %}
    </div>
  </body>
</html>

