{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CliqueClique</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}cliqueclique_ui/js/ui/dijit/themes/claro/claro.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}cliqueclique_ui/js/ui/cliqueclique/themes/claro/claro.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}cliqueclique_ui/css/global.css" />

    <script src="{{ STATIC_URL }}cliqueclique_ui/js/ui/dojo/dojo.js"></script>

    <script>
      dojo.require("cliqueclique.ui");
      dojo.addOnLoad(function() {
        ui = cliqueclique.ui.Ui({}, "ui");
        ui.startup();
        ui.resize();
      });
    </script>

  </head>
  <body class="claro">

    <div id="ui"></div>

  </body>
</html>
