{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CliqueClique</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}cliqueclique_ui/js/ui/dijit/themes/claro/claro.css" />
    <style>
      html { height: 100%; }
      body { height: 100%; margin: 0; padding: 0; }
    </style>

    <script src="{{ STATIC_URL }}cliqueclique_ui/js/ui/dojo/dojo.js"></script>

    <script>
      dojo.require("cliqueclique.document.tree");
      dojo.require("cliqueclique.document.selector");
      dojo.require("cliqueclique.document.editor");
      dojo.require("cliqueclique.document");
      dojo.require("cliqueclique.nodeinfo");
      dojo.require("dijit.layout.BorderContainer");
      dojo.require("dijit.layout.ContentPane");
      dojo.require("dijit.layout.AccordionContainer");
      dojo.require("dijit.layout.TabContainer");
      dojo.require("dojox.layout.TableContainer");

      dojo.require("dijit._base.popup");
      dojo.require("dojo.html");

      dojo.addOnLoad(function() {

        ui = new dijit.layout.BorderContainer({ id:'brdr' ,design:'sidebar', style:'border: 0px; height: 100%; width: 100%;' }, "ui");
        ui.startup();

        var leftPane = new dijit.layout.AccordionContainer({region: 'left', splitter: true, minSize: 200});
        ui.addChild(leftPane);
      

        var tree = new dijit.Tree({showRoot: false, model: cliqueclique.document.tree.DocumentTreeModel(), style: "width: 200px;", title: 'Bookmarks'});
        leftPane.addChild(tree);

        tree.connect(tree, 'onClick', function (item, node, evt) { item.getDocumentLink(tree)(); });

        menu = new cliqueclique.document.DocumentMenu({});
        menu.startup();
        menu.bindDomNode(tree.domNode);


        docView = cliqueclique.document.DocumentView({region: 'center'});
        ui.addChild(docView);
        ui.registerData("documentLink", {label: 'Display', load:function (document) { return docView.attr("document", document); }}, true, "cliqueclique.document.DocumentLink");

        selector = new cliqueclique.document.editor.DocumentEditor({region: 'bottom'});
	ui.addChild(selector);


        ui.resize();

      });
    </script>

  </head>
  <body class="claro">

    <div id="ui"></div>

  </body>
</html>
